DB_USER=user
DB_PASS=password
DB_NAME=users_data
RESOURCE_SCHEMA_PATH=../config/schema.yaml
ATTRIBUTE_SOURCE_PATH=../config/source.yaml
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/magisterka
POLICY_REPOSITORY_PATH=../policies
PDP_URL=http://127.0.0.1:8001/authorize
PIP_URL=http://127.0.0.1:8002/attributes