RULE DENY IF subject.id == 1
RULE ALLOW IF context.action == "READ" AND resource.type == "user" AND (subject.id == resource.id AND resource.id < 3) OR resource.id == 5 OR subject.role == "manager"